{% extends 'base.html' %}

{% block title %}
	Lista de Productos
{% endblock %}
{% block content %}
	<h1> Lista de Productos </h1>
	<br>
	{% if user.is_authenticated %}

		<a class ="btn btn-primary" href="{% url 'vista_agregar_producto' %}"> <li class="icon-plus"></li>Agregar un nuevo producto</a>

	{% endif %}
	{% if ropas %}
	<table class = "table table-hover">
		<theader>
			<tr>
				<th>Nombre</th>
				<th>Marca</th>
				<th>Descripcion</th>
			</tr>
		</theader>
		{% for p in ropas %}
			<tbody>
				<tr>
					<td>{{ p.nombre }}</td>
					<td>{{ p.marca }}</td>
					<td>{{ p.descripcion }}</td>
					<td><a class="btn" href="/ropa/{{ p.id }}"><li class = "icon-search"></li>Ver</a></td>
					<td><a class="btn" href="#"><li class = "icon-shoping-cart"></li>Comprar</a></td>
						{% if user.is_authenticated %}
							<td><a class = "btn" href="/edit/ropa/{{ p.id }}"><li class = "icon-pencil"></li>Editar </a></td>
						{% endif %}
					</td>
				</tr>
			</tbody>
		{% endfor %}
	</table>
	{% else %}
		<h2>No existen Ropa  a la venta</h2>
	{% endif %}

	{% if ropas %}
	<div class="pagination">
		<div class="pagination pagination-centered">
			<ul>
				<li><a href="/ropas/page/1" > << </a></li>
				{% if ropas.has_previous %}
				<li><a href="/ropas/page/{{ ropas.previous_page_number }}">Anterior</a></li>
				{% else %}
				<li><a href="#">Anterior</a></li>
				{% endif %}

				{% if ropas.has_next %}
				<li><a href="/ropas/page/{{ ropas.next_page_number }}">Siguiente</a></li>
				{% else %}
				<li><a href="#">Siguiente</a></li>
				{% endif %}
					<li><a href="/ropas/page/{{ ropas.paginator.num_pages}}"> >> </a></li>
			</ul>
		</div>
	</div>
			<br>
			<h4>Pagina {{ ropas.number }} de {{ ropas.paginator.num_pages}}</h4>
		{% endif %}
		
{% endblock %}
